<!DOCTYPE html>
<html>
  <head>
    <title>ecco!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- css("css/bootstrap") %>
    <%- css("css/app") %>
    <!--<% //css("fonts")%>-->


    <%- js("js/js") %>

    <script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="http://i.icomoon.io/public/temp/24d504a734/ecco/style.css">   
  </head>


  <body>
  
  <header></header>

  <div id="errors"></div>

  <div id="main"></div>



  <footer></footer>


  </body>
</html>